<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> ##{addHtmlTitle}## </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-list" id="layuiadmin-form-list" style="padding: 20px 30px 0 0;">

    ##{editHtml}##

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="layuiadmin-form-submit" id="layuiadmin-form-submit" value="确认添加">
        <input type="button" lay-submit lay-filter="layuiadmin-form-edit" id="layuiadmin-form-edit" value="确认编辑">
    </div>
</div>

<script src="../../../layui/layui.js"></script>
<script src="../../../js/##{requestMappingName}##/add.js"></script>
</body>
</html>