<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmyjn.sys.user.dao.mapper.SysUserMapper">

<!-- **************以下映射必须与数据库一致 不要更改，除非数据库改变**************** -->

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.zmyjn.sys.user.entity.SysUser">
				
		insert into sys_user
		(
			nickname,
			user_name,
			password,
			sex,
			mobile,
			email,
			avatar,
			status1,
			remark,
			create_by,
			create_time,
			update_by,
			update_time
		)
		values	
		(	
			#{nickname},
			#{userName},
			#{password},
			#{sex},
			#{mobile},
			#{email},
			#{avatar},
			#{status1},
			#{remark},
			#{createBy},
			#{createTime},
			#{updateBy},
			#{updateTime}
		)	

	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from sys_user 	
		WHERE ID=#{id}
	</delete>
	
	<delete id="deleteByIds" parameterType="java.util.Collection">
     	delete from sys_user 	
     	WHERE ID IN
     	<foreach collection="array" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach> 
  	 </delete>
  	 
  	 <delete id="logicDelete" parameterType="java.lang.Integer">
		update sys_user set status1 = '-1' 	
		WHERE ID=#{id}
	</delete>
	
	<delete id="logicDeleteByIds" parameterType="java.util.Collection">
     	update sys_user set status1 = '-1' 	
     	WHERE ID IN
     	<foreach collection="array" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach> 
  	 </delete>
	
	<update id="update" parameterType="com.zmyjn.sys.user.entity.SysUser" >
			
		update sys_user 	
		<set> 	
			nickname=#{nickname},
			user_name=#{userName},
			password=#{password},
			sex=#{sex},
			mobile=#{mobile},
			email=#{email},
			avatar=#{avatar},
			status1=#{status1},
			remark=#{remark},
			create_by=#{createBy},
			create_time=#{createTime},
			update_by=#{updateBy},
			update_time=#{updateTime}
		</set> 	
		where 
		ID=#{id} 	

	</update>
	
	<update id="updateWithIf" parameterType="com.zmyjn.sys.user.entity.SysUser" >
			
		update sys_user 	
		<set> 	
			<if test=" nickname!=null ">	
				nickname=#{nickname},	
			</if>	
			<if test=" userName!=null ">	
				user_name=#{userName},	
			</if>	
			<if test=" password!=null ">	
				password=#{password},	
			</if>	
			<if test=" sex!=null ">	
				sex=#{sex},	
			</if>	
			<if test=" mobile!=null ">	
				mobile=#{mobile},	
			</if>	
			<if test=" email!=null ">	
				email=#{email},	
			</if>	
			<if test=" avatar!=null ">	
				avatar=#{avatar},	
			</if>	
			<if test=" status1!=null ">	
				status1=#{status1},	
			</if>	
			<if test=" remark!=null ">	
				remark=#{remark},	
			</if>	
			<if test=" createBy!=null ">	
				create_by=#{createBy},	
			</if>	
			<if test=" createTime!=null ">	
				create_time=#{createTime},	
			</if>	
			<if test=" updateBy!=null ">	
				update_by=#{updateBy},	
			</if>	
			<if test=" updateTime!=null ">	
				update_time=#{updateTime},	
			</if>	
		</set>	
		where 	
		ID=#{id} 	

	</update>
	
	<!-- *************************************************************************** -->
	<!-- **************以下映射根据业务做相应调整**************** -->
	<!-- *************************************************************************** -->
  	
  	<delete id="deleteByMap" parameterType="java.util.Map">
    	delete from sys_user 	 
    	<where>
    		
    	</where>
  	</delete>
	
	<select id="findById" parameterType="java.lang.Integer" resultType="com.zmyjn.sys.user.entity.SysUser">
				
		select  	
			a.id id,
			a.nickname nickname,
			a.user_name userName,
			a.password password,
			a.sex sex,
			a.mobile mobile,
			a.email email,
			a.avatar avatar,
			a.status1 status1,
			a.remark remark,
			a.create_by createBy,
			a.create_time createTime,
			a.update_by updateBy,
			a.update_time updateTime
		from sys_user a	

		where a.Id=#{id}	
	</select>

	<select id="findListByMap" parameterType="java.util.Map" resultType="com.zmyjn.sys.user.entity.SysUser">
		
				
		select  	
			a.id id,
			a.nickname nickname,
			a.user_name userName,
			a.password password,
			a.sex sex,
			a.mobile mobile,
			a.email email,
			a.avatar avatar,
			a.status1 status1,
			a.remark remark,
			a.create_by createBy,
			a.create_time createTime,
			a.update_by updateBy,
			a.update_time updateTime
		from sys_user a	

		
		<where>
			
		</where>

	</select>
	
	<select id="list" parameterType="java.util.Map" resultType="com.zmyjn.sys.user.entity.SysUser">
		
		
				
		select  	
			a.id id,
			a.nickname nickname,
			a.user_name userName,
			a.password password,
			a.sex sex,
			a.mobile mobile,
			a.email email,
			a.avatar avatar,
			a.status1 status1,
			a.remark remark,
			a.create_by createBy,
			a.create_time createTime,
			a.update_by updateBy,
			a.update_time updateTime
		from sys_user a	

		
		<where>
			a.status1 != '-1'
			<if test="searchKeys!= null ">
				AND ( 1=2
				<foreach collection="searchKeys" index="index" item="item" >
					 OR a.id like #{item}
				</foreach> 
				)
			</if>
		</where>

		
	</select>
	
	<select id="findOneByMap" parameterType="java.util.Map" resultType="com.zmyjn.sys.user.entity.SysUser">
				
		select  	
			a.id id,
			a.nickname nickname,
			a.user_name userName,
			a.password password,
			a.sex sex,
			a.mobile mobile,
			a.email email,
			a.avatar avatar,
			a.status1 status1,
			a.remark remark,
			a.create_by createBy,
			a.create_time createTime,
			a.update_by updateBy,
			a.update_time updateTime
		from sys_user a	

		<where>
			<if test="userName!=null and userName!=''">
				and a.user_name = #{userName}
			</if>
			<if test="password!=null and password!=''">
				and a.password = #{password}
			</if>
		
		</where>
		limit 1
	</select>
</mapper>
	